http://:3000 {
	log {
		level INFO
	}

	# CORS

	@OPTIONS {
		method OPTIONS
	}
	header {
		Access-Control-Allow-Origin {http.request.header.Origin}
		Access-Control-Allow-Credentials true
		Access-Control-Allow-Headers Content-Type
		Access-Control-Allow-Methods GET,POST,DELETE,PUT
		defer
	}
	handle @OPTIONS {
		respond 204
	}

	# Unprotected routes

	@USERS {
		method POST
		path /users
	}

	@SESSIONS {
		method POST DELETE
		path /sessions
	}

	handle @USERS {
		reverse_proxy http://agartex-authentication:3100
	}

	handle @SESSIONS {
		reverse_proxy http://agartex-authentication:3100
	}

	# Protected routes

	handle * {
		forward_auth http://agartex-authentication:3100 {
			uri /sessions
			copy_headers X-User-Id
		}

		handle /compile {
			reverse_proxy http://agartex-compilation:3300
		}

		handle /projects {
			reverse_proxy http://agartex-resource-management:3200
		}

		handle /collaboration {
			reverse_proxy http://agartex-collaboration:3400
		}

		error * "Not found" 404
	}
}
